.activites-section-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.activites-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.activites-title h2 {
  margin-bottom: 20px;
}
.activites-container {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}
.activites-item {
  width: calc(100% / 4 - 30px);
  height: 400px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.activites-item:nth-of-type(odd) {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.activites-item img {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.activites-item h4 {
  margin: auto 0;
  padding-left: 10px;
}
.activites-item > img {
  width: 100%;
  height: calc(100% - 50px);
}
.big-card,
.medium-card,
.small-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.big-card {
  height: calc(60% - 15px);
}
.medium-card {
  height: calc(50% - 15px);
}
.small-card {
  height: calc(40% - 15px);
}
.big-card img,
.medium-card img,
.small-card img {
  width: 100%;
  height: calc(100% - 50px);
}
@media only screen and (max-width: 992px) {
  .activites-item {
    width: calc(100% / 2 - 30px);
  }
}
@media only screen and (max-width: 768px) {
  .activites-section-container {
    padding: 10px 5% 0 5%;
  }
  .activites-item:nth-of-type(odd) {
    width: 100%;
    height: 200px;
  }
  .activites-item:nth-of-type(even) {
    width: 100%;
    height: 400px;
  }
  .big-card,
  .medium-card,
  .small-card {
    width: 100%;
    height: calc(50% - 15px);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}
