.activites-section-container {
  max-width: 80%;
}
.activites-section-container h3 {
  padding-bottom: 15px;
  padding-left: 45px;
}
.activites-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: fit-content;
}
.activites-item {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.activites-item img {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.activites-item h4 {
  padding-left: 10px;
  padding-bottom: 10px;
}
.big-card img {
  width: 250px;
  height: 350px;
}
.small-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 50px;
}
.small-card img {
  width: 250px;
  height: 100px;
}
.medium-card img {
  width: 250px;
  height: 150px;
}
