.header-container {
  width: 100%;
  padding: 15px 5%;
  display: flex;
  justify-content: space-between;
}
.header-container img {
  width: 120px;
}
.navigation-container {
  display: flex;
  gap: 90px;
}
.navigation-container a {
  text-decoration: none;
  padding-top: 20px;
}
.navigation-container a:first-child {
  border-top: 1px solid var(--blue);
  color: var(--blue);
}
.navigation-container a:last-child {
  border-top: 1px solid transparent;
  color: inherit;
}
.intro-container {
  padding: 15px 5%;
}
.form-container {
  display: flex;
  padding: 15px 5%;
}
.form-icon {
  background: var(--grey);
  width: 45px;
  height: 45px;
  border: 1px solid var(--grey);
  border-radius: 15px 0 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container input[type="text"] {
  width: 170px;
  height: 45px;
  border: 1px solid var(--grey);
}
.form-container input[type="submit"] {
  height: 45px;
  width: 100px;
  background: var(--blue);
  color: white;
  border: 1px solid var(--blue);
  border-radius: 0 15px 15px 0;
}
.filters-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px 5%;
}
.filters-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
.filters-button {
  border: 1px solid var(--grey);
  background: white;
  height: 48px;
  min-width: 130px;
  display: flex;
  align-items: center;
  padding: 0;
  border-radius: 40px;
}
.filters-icon {
  background: var(--light-blue);
  color: var(--blue);
  font-size: 1.2em;
  padding: 15px;
  border-radius: 50%;
}
.child-icon {
  padding: 15px 19px;
}
.heart-icon {
  padding: 15px 17px;
}
.filters-text {
  width: 100%;
  padding: 0 10px;
}
.info-container .icon i {
  color: white;
  background: var(--blue);
  border: 1px solid var(--grey);
  border-radius: 50%;
}
