.filters-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 5%;
}
.filters-title-container {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
}
.filters-title {
  font-weight: bold;
  padding-right: 30px;
}
.filters-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
.filters-button {
  border: 2px solid var(--grey);
  background: white;
  height: 48px;
  min-width: 130px;
  display: flex;
  align-items: center;
  padding: 0;
  border-radius: 40px;
  font-weight: bold;
}
.filters-icon {
  background: var(--light-blue);
  color: var(--blue);
  font-size: 1.2em;
  padding: 15px;
  border-radius: 50%;
}
.child-icon {
  padding: 15px 19px;
}
.heart-icon {
  padding: 15px 17px;
}
.filters-text {
  width: 100%;
  padding: 0 20px;
}
.info-container {
  padding: 10px 0;
}
.info-container .icon i {
  color: white;
  background: var(--blue);
  border: 1px solid var(--grey);
  border-radius: 50%;
  font-size: 20px;
  margin-right: 5px;
}
