.filter-info-ctn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.filter-title-ctn {
  display: flex;
  width: 100%;
}
.filter-title {
  font-weight: bold;
  padding-right: 30px;
}
.filter-ctn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  row-gap: 5px;
}
.filter-btn {
  border: 2px solid var(--grey);
  background: white;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
}
.filter-btn:hover {
  transform: scale(1.05);
}
.filter-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--blue);
  background-color: var(--light-blue);
  padding: 15px;
}
.child-icon {
  padding: 15px 19px;
}
.heart-icon {
  padding: 15px 17px;
}
.filter-text {
  width: 100%;
  padding: 0 10px;
}
.info-ctn {
  margin-top: 30px;
}
.info-ctn .icon i {
  color: white;
  background: var(--blue);
  border: 1px solid var(--grey);
  border-radius: 50%;
  font-size: 20px;
  margin-right: 5px;
}
@media only screen and (max-width: 992px) {
  .filter-title-ctn {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .filter-info-ctn {
    padding: 0 5%;
  }
}
