.footer-container {
  background: var(--grey);
  max-width: 100%;
  padding: 15px 5%;
  margin-top: 35px;
}
.footer-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20%;
  list-style-type: none;
  padding-inline-start: 0;
  width: 100%;
}
.footer-items {
  list-style-type: none;
  padding-inline-start: 0;
}
.footer-items li:first-of-type {
  font-weight: bold;
  line-height: 50px;
}
.footer-items li a {
  text-decoration: none;
  color: inherit;
}
@media only screen and (max-width: 600px) {
  .footer-list {
    flex-direction: column;
  }
}
