.header-container {
  width: 100%;
  padding: 15px 5%;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
}
.header-container img {
  width: 120px;
}
.navigation-container {
  display: flex;
}
.navigation-container a {
  text-decoration: none;
  padding-top: 20px;
  height: 60px;
  width: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.navigation-container a:first-child {
  border-top: 1px solid var(--blue);
  color: var(--blue);
}
.navigation-container a:last-child {
  border-top: 1px solid transparent;
  color: inherit;
}
.intro-container {
  padding: 10px 5%;
}
.intro-container h2 {
  margin: 10px auto;
}
.form-container {
  display: flex;
  padding: 15px 5%;
}
.form-icon {
  background: var(--grey);
  width: 45px;
  height: 45px;
  padding: 10px;
  border: 1px solid var(--grey);
  border-radius: 15px 0 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container input[type="text"] {
  width: 250px;
  height: 45px;
  padding: 10px;
  border: 1px solid var(--grey);
  font-weight: bold;
  font-size: 16px;
}
.form-container input[type="submit"] {
  height: 45px;
  width: fit-content;
  padding: 10px;
  background: var(--blue);
  color: white;
  border: 1px solid var(--blue);
  border-radius: 0 15px 15px 0;
  font-weight: bold;
  font-size: 16px;
}
@media only screen and (max-width: 600px) {
  .header-container {
    flex-direction: column;
  }
  .navigation-container {
    width: 100%;
  }
}
