.location-most-popular-ctn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4%;
}
.locations-section-ctn,
.most-popular-section-ctn {
  height: 100%;
  background: var(--grey);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  border-radius: 15px;
}
.locations-section-ctn {
  width: 65%;
  padding: 30px 2.5%;
}
.most-popular-section-ctn {
  width: 35%;
  padding: 30px 2.5% 10px 2.5%;
}
.locations-ctn,
.most-popular-ctn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
  row-gap: 30px;
}
.locations-item,
.most-popular-item {
  text-decoration: none;
  color: inherit;
  width: calc(100% / 3 - 10px);
  height: 200px;
  background-color: white;
  border-radius: 15px;
  padding: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.locations-item:hover,
.most-popular-item:hover {
  background-color: var(--grey);
}
.locations-item img {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: calc(100% - 70px);
}
.location-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin: 5px;
}
.more-info-text {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 15px;
}
.more-info-text:hover {
  color: rgba(0, 0, 0, 0.2);
}
.most-popular-item {
  display: flex;
  width: 100%;
  height: 134px;
}
.most-popular-item:last-of-type {
  margin-bottom: 7px;
}
.most-popular-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.most-popular-item img {
  object-fit: cover;
  border-radius: 15px 0 0 15px;
  min-width: calc(100% / 3);
  height: 100%;
}
.most-popular-title i {
  font-size: 20px;
}
.most-popular-icons-text {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}
.most-popular-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.rating-5-stars,
.rating-4-stars,
.rating-3-stars {
  display: flex;
  justify-self: self-end;
  color: var(--blue);
  font-size: 11px;
}
.rating-4-stars i:last-child {
  color: var(--grey);
}
.rating-3-stars i:nth-last-child(-n + 2) {
  color: var(--grey);
}
@media only screen and (max-width: 992px) {
  .location-most-popular-ctn {
    flex-direction: column-reverse;
    row-gap: 20px;
  }
  .locations-section-ctn,
  .most-popular-section-ctn {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .locations-ctn,
  .most-popular-ctn {
    row-gap: 20px;
  }
  .locations-section-ctn,
  .most-popular-section-ctn {
    border-radius: 0;
    padding: 30px 5% 10px 5%;
  }
  .locations-section-ctn {
    background-color: white;
  }
  .locations-ctn {
    flex-direction: column;
  }
  .locations-item {
    width: 100%;
  }
}
